/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: var(--navy-blue, #000028);
  --header-text-color: var(--pink, #db00ff);
  --text-color: var(--light-pink, #f1b2ce);
  --accent-color: var(--hot_pink, #ff0070);
  --header__decor-element: var(--hot_pink, #ff0070);
  --secondary-color: var(--hot-pink, #ff0070);
  --blok-color: var(--navy-blue, #000028);

  --rec-decor-visibility: visible;
}
