/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url("../images/cover-image-light.png");

  --background-color: var(--pale-pink, #fff1f7);
  --header-text-color: var(--fuchsia, #ffc2e6);
  --text-color: var(--gray, #353430);
  --accent-color: var(--pinkish, #ff8dcb);
  --header__decor-element: var(--gray, #353430);
  --secondary-color: var(--gray, #353430);
  --blok-color: var(--pale-pink, #fff1f7);

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");

    --background-color: var(--pale-pink, #fff1f7);
    --header-text-color: var(--fuchsia, #ffc2e6);
    --text-color: var(--gray, #353430);
    --accent-color: var(--pinkish, #ff8dcb);
    --header__decor-element: var(--gray, #353430);
    --secondary-color: var(--gray, #353430);
    --blok-color: var(--pale-pink, #fff1f7);

    --rec-decor-visibility: hidden;
  }
}
